body{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: darkgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h1 {
    text-align: center;
    color:chartreuse;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:chartreuse;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;

}
label {
    font-size: 14px;
    color:#4CAF50;
    -webkit-text-fill-color:ghostwhite; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

 a {
    text-align: center;
    display: block;
    color: #4CAF50;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
